{% extends './base.njk' %}

{% block content %}
    <nav>
        <small class="back_link">
            <span>←</span>
            <a href="/#places">Home</a> / <a href="..#businesses">{{ business.town_city }}</a>
        </small>
    </nav>
    {{ content | safe }}
    <nav>
        <small class="back_link">
            <span>←</span>
            <a href="/#places">Home</a> / <a href="..#businesses">{{ business.town_city }}</a>
        </small>
    </nav>
{% endblock %}