{% extends './base.njk' %}

{% block content %}
    <nav>
        <small class="back_link">
            <span>←</span>
            <a href="/">Home</a> / <a href="..">{{ business.town_city }}</a>
        </small>
    </nav>
    {{ content | safe }}
    <small class="back_link">
        <span>←</span>
        <a href="..">{{ business.town_city }}</a>
    </small>
{% endblock %}