{% extends './base.njk' %}

{% block content %}

    <section class="intro">
        {{ content | safe }}
    </section>

    <section class="places" id="places">
        <h2 class="places_heading">Find businesses near you</h2>
        <section class="top_missing">
            <p>You can either buy vouchers or order deliveries from businesses in these places.</p>

            <p>
               If your town or city is missing, <strong>
                    <a href="/add">add a business to this website</a>
                </strong>
            </p>
        </section>
        <section class="places_list">
            {% set initial = "" %}
            {% for place in places %}

                {% set currentInitial = place | first %}
                {% if currentInitial != initial %}
                    <h3 class="initial" id="{{ currentInitial }}">
                        {{ currentInitial }}
                    </h3>
                    {% set initial = currentInitial %}
                {% endif %}
                <ul>
                    <li class="place">
                        <a href="{{ place | slugIt | lower }}" id="{{ place | slug }}">{{ place }}</a>
                    </li>
                </ul>

            {% endfor %}
        </section>
        <section class="missing">
            <hr>
            <p>
                <strong>Is your town or city missing?</strong>
            </p>
            <p>
                <a href="/add">
                    Add a business to this website</a>
            </p>
        </section>
    </section>

{% endblock %}