{% extends './base.njk' %}

{% block content %}
    <nav>
        <small class="back_link">
            <span>←</span>
            <a href="/#places">Home</a>
        </small>
    </nav>
    <section class="page_content">
        <h2>{{ title }}</h2>
        {{ content | safe }}
    </section>
{% endblock %}