{% extends './base.njk' %}

{% block content %}
    <nav>
        <small class="back_link">
            <span>←</span>
            <a href="/">Home</a>
        </small>
    </nav>
    {{ content | safe }}
    <small class="back_link">
        <span>←</span>
        <a href="..">Home</a>
    </small>
{% endblock %}