*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
img:not([alt]) {
  filter: blur(10px);
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0.5rem 0 1.5rem 0;
  background-color: #ffffff;
}

.container {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #ffef00;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-top: 6px solid #40a4f4;
}

.title {
  line-height: 1;
}

.title a {
  color: #000;
}

.subtitle {
  margin-top: 0.5rem;
  line-height: 1;
}

.intro {
  margin-top: 1.25rem;
}

p {
  margin-top: 0.5rem;
}

a {
  color: #000;
}

.back_link {
  display: block;
  margin-top: 1rem;
  color: #000;
}

.back_link a {
  padding: 0.25rem;
}

.initial {
  margin-top: 1.25rem;
}

.place {
  list-style-type: square;
}

.places {
  margin: 1rem 1rem;
  background-color: #eded94;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-top: 6px solid #40a4f4;
}

.places_list,
.places_list > * + * {
  margin-top: 1rem;
}

.businesses_list_section {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background-color: #eded94;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-top: 6px solid #40a4f4;
}

.add_business {
  margin-top: 1rem;
}

footer {
  margin-top: 1.5rem;
}

ul.businesses_list {
  margin: 1.5rem 0;
  margin-left: 1rem;
}

.business_list_name {
  list-style-type: square;
  margin-top: 1rem;
}

.business_details {
  margin-top: 1rem;
}

.business_details h3 {
  margin-top: 1.25rem;
}

.business_category {
  margin-top: 0;
}

.business_name {
  line-height: 1;
}
