<footer>
    <hr>
    <p>This website was built to help people support their local independent businesses during the coronavirus outbreak.</p>
    <p>Built by <a href="https://twitter.com/_edjw">Ed Johnson-Williams</a></p>
    <p>This website is <a href="{{ site.repository }}">open source</a>.</p>
    <p>Content on this website is under a <a href="https://creativecommons.org/licenses/by/4.0">Creative Commons Attribution license</a>.</p>
</footer>