<footer>
    <hr>

    <section class="add_business">
        <p>Help make a difference. <strong><a href="/add">Add businesseses to this website</a></strong></p>
    </section>
    <p>This website was built to help people support their local independent businesses during the coronavirus outbreak.</p>
    <p>Website was built by <a href="https://twitter.com/_edjw">Ed Johnson-Williams</a>, who can't go out at the moment.
    </p>
    <p>This website is <a href="{{ site.repository }}">open source</a>. Please help if you can!</p>
    <p>Content on this website is under a <a href="https://creativecommons.org/licenses/by/4.0">Creative Commons Attribution license</a>.</p>
</footer>