---
pagination:
    data: places
    size: 1
    alias: place
permalink: "{{ place | slug }}/"
layout: "layouts/place.njk"
---

{% block content %}
<small class="back_link"><a href="/">← Home</a></small>

<section class="businesses_list_section">

    <h2>{{ place }} businesses</h2>

    <ul class="businesses_list">
    {% for business in businesses %}

    {% if business.town_city | slug == place | slug %}

    <li class="business_list_name"><a href="{{ business.name | slug }}">{{ business.name }}</a></li>

    {% endif %}

    {% endfor %}
</ul>
</section>
<small class="back_link"><a href="..">← Home</a></small>

{% endblock %}