---
pagination:
    data: places
    size: 1
    alias: place
    addAllPagesToCollections: true
permalink: "{{ place | slugIt | lower }}/"
layout: "layouts/place.njk"
tag: place
---

{% block content %}
    <section class="businesses_list_section">

        <h2>{{ place }} businesses</h2>

        <ul class="businesses_list">
            {% for business in businesses %}

                {% if business.town_city | slug == place | slug %}

                    <li class="business_list_name">
                        <a href="{{ business.name | slugIt | lower }}">{{ business.name }}</a>
                    </li>

                {% endif %}

            {% endfor %}
        </ul>
    </section>
{% endblock %}